body
{
    background-image: url("home_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Luckiest Guy';font-size: 22px;color: white;
}
/*ensure that there is an empty div tag with class name bg_gradient present in the body */
.bg_gradient 
{
          
    background-image: linear-gradient(  rgb(143, 14, 1) , #0e0e0e , rgb(143, 14, 14) );
    opacity:0.3;
    position: fixed;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
   
}

.footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.205);
    color: white;
    text-align: center;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}
/* use bootstrap for nav bars i did this to show contrast between bootstrap and direct css */
#nav
{
    z-index: 4;
}
div#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    position:relative;
    z-index: 10;text-align: center;
}
div#nav li {
    display:inline-block;
}

div#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div#nav li a:hover {
    background-color: rgba(255, 0, 0, 0.404);
    z-index: 4;
}
div#nav .active {
         background-color: rgb(153, 33, 33);
} 

.arcadia
{
    text-shadow: 10px 10px 20px black, 0 0 60px red, 0 0 20px darkred;
}

/*#############for page transition#####################*/

/*make the pages i shall add the transistion at the end once all the pages are ready.*/

/*<link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'>*/

div#out_square
{
    visibility: hidden;
    height: 45%;
    width: 20%;
    background-color: black;
    opacity:1;
    position: absolute;
    z-index: 11;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    transition: 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
                
}
div#out_text
{
    opacity: 1;
    z-index: 11;
    position: absolute;
    text-align: center;
    font-family: 'Bungee Shade';font-size: 22px;
}
/*####################################################*/